# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\webroot\MDN_CSS_Selector_Skills\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
